#yt-container{
  padding-bottom: 56.25%; position: relative; margin-top: 1em;
}

.game-question-block img{
  width: 100%;
  margin-bottom: 1em;
}

#alt-vid-container{
  padding-bottom: 56.25%; position: relative; margin-top: 1em;
}
#alt-vid-container video{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
